<!DOCTYPE html>
<html>
	<head>
		<title>Ruby on Rails Tutorial Sample App | <%= @title %></title>
		<%= csrf_meta_tag %>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.1.1/bootstrap.min.js"></script>
		<!--[if lt IE 9]>
			<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->		
		<%= stylesheet_link_tag 'blueprint/screen', :media => 'screen' %>
		<%= stylesheet_link_tag 'blueprint/print', 	:media => 'print' %>
		<!--[if lt IE 8]>
			<%= stylesheet_link_tag 'blueprint/ie' %>
		<![endif]-->
		<%= stylesheet_link_tag 'custom', :media => 'screen' %>

		<%= javascript_include_tag :defaults %>

	</head>

<body>
	<header class="navbar navbar-fixed-top">
	  <div class="navbar-inner">
	    <div class="container">
	      <%= link_to "sample app", '/', :id => "logo" %>
	      <nav>
	        <ul class="nav pull-right">
	          <li><%= link_to "Home",    '/' %></li>
	          <li><%= link_to "Help",    '/help' %></li>
	          <% if signed_in? %>
	            <li><%= link_to "Users", '#' %></li>
	            <li id="fat-menu" class="dropdown">
	              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
	                Account <b class="caret"></b>
	              </a>
	              <ul class="dropdown-menu">
	              	<li><%= current_user %></li>
	                <li><%= link_to "Profile", current_user %></li>
	                <li><%= link_to "Settings", '#' %></li>
	                <li class="divider"></li>
	                <li>
	                  <%= link_to "Sign out", signout_path, :method => :get %>	                  
	                </li>
	              </ul>
	            </li>
	          <% else %>
	            <li><%= link_to "Sign in", signin_path %></li>
	          <% end %>
	        </ul>
	      </nav>
	    </div>
	  </div>
	</header>
	<div class="centerColumn">
		<% flash.each do |key, value| %>
        	<div class="alert alert-<%= key %>"><%= value %></div>
      	<% end %>
		<section class="round">
			<%= yield %>
		</section>
		<footer class="footer">
	  <small>
	   Rails Tutorial by <a href="http://railstutorial.org/">Michael Hartl</a>, Implemented by <a href="http://christhilges.com">ChrisThilges</a>
	  </small>
	  <nav>
	    <ul>
	      <li><%= link_to "About",   '/about' %></li>
	      <li><%= link_to "Contact", '/contact' %></li>
	      <li><a href="http://news.railstutorial.org/">News</a></li>
	    </ul>
	  </nav>
	</footer>
   </div>
	<%= debug(params) if Rails.env.development? %>
</body>
</html>
